/* styles.css */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff; /* Fond blanc */
    color: #000; /* Texte noir */
    line-height: 1.6;
}

header {
    background-color: #ff8c00; /* Fond orange pour l'en-tête */
    color: #fff;
    padding: 1em 0;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 1em;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

main {
    padding: 2em;
    max-width: 800px;
    margin: 0 auto;
}

#annonces {
    margin-bottom: 2em;
}

.annonce {
    border: 1px solid #ccc;
    background-color: #fff;
    padding: 1em;
    margin-bottom: 1em;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#deposer-annonce {
    border-top: 1px solid #ccc;
    padding-top: 2em;
    background-color: #fff;
    padding: 2em;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

form label {
    display: block;
    margin-bottom: 0.5em;
    font-weight: bold;
}

form input[type="text"],
form input[type="number"],
form input[type="password"],
form textarea {
    width: 100%;
    padding: 0.5em;
    margin-bottom: 1em;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 1em;
}

form button {
    background-color: #ff8c00;
    color: #fff;
    padding: 0.5em 1em;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
}

form button:hover {
    background-color: #ff7a00;
}

footer {
    background-color: #ff8c00; /* Fond orange pour le pied de page */
    color: #fff;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.social-media {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 2em;
}

.social-media a {
    text-decoration: none;
    color: #000;
    font-size: 1.2em;
    display: flex;
    align-items: center;
}

.social-media img {
    width: 32px;
    height: 32px;
    margin-right: 0.5em;
}

#annonce-form {
    max-width: 600px;
    margin: 0 auto;
}

#annonce-form label {
    display: block;
    margin-bottom: 0.5em;
    font-weight: bold;
}

#annonce-form input[type="text"],
#annonce-form input[type="number"],
#annonce-form textarea,
#annonce-form input[type="file"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}

#annonce-form button {
    background-color: #ff8c00;
    color: #fff;
    padding: 16px 24px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
    margin-top: 10px;
}

#annonce-form button:hover {
    background-color: #ff7a00;
}

#categories ul {
    list-style-type: none;
    padding: 0;
}

#categories ul li {
    margin: 10px 0;
}

#categories ul li a {
    color: #333;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

#articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.article {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 10px;
    width: 200px;
    text-align: left;
}

.article img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
}

.article h3 {
    font-size: 18px;
    margin-bottom: 5px;
}

.article p {
    margin-bottom: 10px;
}

.images {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.images img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 4px;
}

.bouton-payer {
    display: block;
    background-color: orange;
    color: #fff;
    text-decoration: none;
    padding: 8px 15px;
    border-radius: 4px;
    margin-top: 10px;
}

.bouton-payer:hover {
    background-color: darkorange;
}

form {
    margin-top: 10px;
    text-align: left;
}

form label {
    display: block;
    margin-bottom: 5px;
}

form input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button {
    background-color: orange;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

form button:hover {
    background-color: darkorange;
}

.bande-orange {
    position: absolute;
    background-color: orange;
    width: 100%;
    height: 10px;
    top: 0;
}

footer .bande-orange {
    bottom: 0;
}

#creer-compte {
    margin-bottom: 100px;
}

/* Assurez-vous que les liens dans le formulaire sont clairement visibles */
#creer-compte a {
    display: block;
    margin-top: 10px; /* Espacement entre le champ Mot de passe et le lien Se connecter */
    text-align: right; /* Aligner à droite pour être à côté du bouton S'inscrire */
}

/* Styliser les liens dans le formulaire */
#creer-compte a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
}

#creer-compte a:hover {
    text-decoration: underline;
}

#merci-inscription {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

/* Style du bouton "L'aventure peut commencer" */
.bouton-orange {
    display: inline-block;
    padding: 10px 20px;
    background-color: orange;
    color: white;
    text-decoration: none;
    border: 2px solid darkorange;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* Effet de relief */
    transition: background-color 0.3s, transform 0.3s;
}

.bouton-orange:hover {
    background-color: darkorange;
    transform: translateY(-2px); /* Effet de léger décalage vers le haut */
}

.bouton-noir {
    display: inline-block;
    padding: 10px 20px;
    background-color: black;
    color: white;
    text-decoration: none;
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* Effet de relief */
    transition: background-color 0.3s, transform 0.3s;
}

.bouton-noir:hover {
    background-color: black;
}

.spinner {
    position: absolute;
    width: 9px;
    height: 9px;
  }
  
  .spinner div {
    position: absolute;
    width: 50%;
    height: 150%;
    background: #000000;
    transform: rotate(calc(var(--rotation) * 1deg)) translate(0, calc(var(--translation) * 1%));
    animation: spinner-fzua35 1s calc(var(--delay) * 1s) infinite ease;
  }
  
  .spinner div:nth-child(1) {
    --delay: 0.1;
    --rotation: 36;
    --translation: 150;
  }
  
  .spinner div:nth-child(2) {
    --delay: 0.2;
    --rotation: 72;
    --translation: 150;
  }
  
  .spinner div:nth-child(3) {
    --delay: 0.3;
    --rotation: 108;
    --translation: 150;
  }
  
  .spinner div:nth-child(4) {
    --delay: 0.4;
    --rotation: 144;
    --translation: 150;
  }
  
  .spinner div:nth-child(5) {
    --delay: 0.5;
    --rotation: 180;
    --translation: 150;
  }
  
  .spinner div:nth-child(6) {
    --delay: 0.6;
    --rotation: 216;
    --translation: 150;
  }
  
  .spinner div:nth-child(7) {
    --delay: 0.7;
    --rotation: 252;
    --translation: 150;
  }
  
  .spinner div:nth-child(8) {
    --delay: 0.8;
    --rotation: 288;
    --translation: 150;
  }
  
  .spinner div:nth-child(9) {
    --delay: 0.9;
    --rotation: 324;
    --translation: 150;
  }
  
  .spinner div:nth-child(10) {
    --delay: 1;
    --rotation: 360;
    --translation: 150;
  }
  
  @keyframes spinner-fzua35 {
    0%, 10%, 20%, 30%, 50%, 60%, 70%, 80%, 90%, 100% {
      transform: rotate(calc(var(--rotation) * 1deg)) translate(0, calc(var(--translation) * 1%));
    }
  
    50% {
      transform: rotate(calc(var(--rotation) * 1deg)) translate(0, calc(var(--translation) * 1.5%));
    }
  }


  .container {
    max-width: 350px;
    background: #F8F9FD;
    background: linear-gradient(0deg, rgb(255, 255, 255) 0%, rgb(244, 247, 251) 100%);
    border-radius: 40px;
    padding: 25px 35px;
    border: 5px solid rgb(255, 255, 255);
    box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 30px 30px -20px;
    margin: 20px;
  }
  
  .heading {
    text-align: center;
    font-weight: 900;
    font-size: 30px;
    color: rgb(16, 137, 211);
  }
  
  .form {
    margin-top: 20px;
  }
  
  .form .input {
    width: 100%;
    background: white;
    border: none;
    padding: 15px 20px;
    border-radius: 20px;
    margin-top: 15px;
    box-shadow: #cff0ff 0px 10px 10px -5px;
    border-inline: 2px solid transparent;
  }
  
  .form .input::-moz-placeholder {
    color: rgb(170, 170, 170);
  }
  
  .form .input::placeholder {
    color: rgb(170, 170, 170);
  }
  
  .form .input:focus {
    outline: none;
    border-inline: 2px solid #12B1D1;
  }
  
  .form .forgot-password {
    display: block;
    margin-top: 10px;
    margin-left: 10px;
  }
  
  .form .forgot-password a {
    font-size: 11px;
    color: #0099ff;
    text-decoration: none;
  }
  
  .form .login-button {
    display: block;
    width: 100%;
    font-weight: bold;
    background: linear-gradient(45deg, rgb(16, 137, 211) 0%, rgb(18, 177, 209) 100%);
    color: white;
    padding-block: 15px;
    margin: 20px auto;
    border-radius: 20px;
    box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 20px 10px -15px;
    border: none;
    transition: all 0.2s ease-in-out;
  }
  
  .form .login-button:hover {
    transform: scale(1.03);
    box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 23px 10px -20px;
  }
  
  .form .login-button:active {
    transform: scale(0.95);
    box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 15px 10px -10px;
  }
  
  .social-account-container {
    margin-top: 25px;
  }
  
  .social-account-container .title {
    display: block;
    text-align: center;
    font-size: 10px;
    color: rgb(170, 170, 170);
  }
  
  .social-account-container .social-accounts {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 5px;
  }
  
  .social-account-container .social-accounts .social-button {
    background: linear-gradient(45deg, rgb(0, 0, 0) 0%, rgb(112, 112, 112) 100%);
    border: 5px solid white;
    padding: 5px;
    border-radius: 50%;
    width: 40px;
    aspect-ratio: 1;
    display: grid;
    place-content: center;
    box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 12px 10px -8px;
    transition: all 0.2s ease-in-out;
  }
  
  .social-account-container .social-accounts .social-button .svg {
    fill: white;
    margin: auto;
  }
  
  .social-account-container .social-accounts .social-button:hover {
    transform: scale(1.2);
  }
  
  .social-account-container .social-accounts .social-button:active {
    transform: scale(0.9);
  }
  
  .agreement {
    display: block;
    text-align: center;
    margin-top: 15px;
  }
  
  .agreement a {
    text-decoration: none;
    color: #0099ff;
    font-size: 9px;
  }

  .wrapper {
    --input-focus: #2d8cf0;
    --font-color: #fefefe;
    --font-color-sub: #7e7e7e;
    --bg-color: #111;
    --bg-color-alt: #7e7e7e;
    --main-color: #fefefe;
      /* display: flex; */
      /* flex-direction: column; */
      /* align-items: center; */
  }
  /* switch card */
  .switch {
    transform: translateY(-200px);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 50px;
    height: 20px;
  }
  
  .container {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
}
.heading {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}
.form .input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}
.forgot-password {
    display: block;
    text-align: right;
}
.social-account-container {
    text-align: center;
    margin-top: 20px;
}
.social-button {
    margin: 5px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.agreement {
    display: block;
    text-align: center;
    margin-top: 20px;
}

.secret-admin-text {
  color: white;
}